<div style="position: absolute;" [style.height]="getPx(ng2Component.height)" [style.background-color]="ng2Component.color" [style.width]="getPx(ng2Component.width)"
[style.left]="getPx(ng2Component.x)" [style.top]="getPx(ng2Component.y)">
<!--<div class="holder"></div>-->
<div style="width: 100%; height: 5px; background-color: black; position:absolute; top: 0px; left:0px;"></div>
<div style="width: 5px; height: 100%; background-color: black; position:absolute; top: 0px; left:0px;"></div>
<div style="width: 5px; height: 100%; background-color: black; position:absolute; top: 0px; right:0px;"></div>
<div style="width: 100%; height: 5px; background-color: black; position:absolute; bottom: 0px; left:0px;"></div>
<div class="component">
  <h3>{{ng2Component.name}}</h3>
  <ul>
    <li>x: {{ng2Component.x}}</li>
    <li>y: {{ng2Component.y}}</li>
    <li>width: {{ng2Component.width}}</li>
    <li>height: {{ng2Component.height}}</li>
  </ul>
</div>
</div>
