.component {
  height:100px;
  width: 100px;
  position: absolute;
  padding:5px;
  /*border:solid 5px;*/
}
.holder{
  width:10px;
  height: 10px;
  background-color: black;
  position: relative;
  top:0px;
  left:0px;
}
