<div>
  <app-ng2-component *ngFor="let c of components | async" [ng2Component]="c"></app-ng2-component>

  <!--<ul>
    <li *ngFor="let c of components | async">
       {{ component | json }}
    </li>
  </ul>-->

</div>

<!--(ondrop)="drop($event)" draggable="true" (ondragstart)="dragStart(event)"-->

<!--<app-ng2-module></app-ng2-module><br>
<app-ng2-module></app-ng2-module><br>
<app-ng2-module></app-ng2-module><br>
<app-ng2-module></app-ng2-module><br>
<app-ng2-module></app-ng2-module><br>-->
